@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Nasze Książki</h1>

<form method="get" asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Wyszukaj książkę" value="@ViewData["CurrentFilter"]" />
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Dodaj nową książkę</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł@* @Html.DisplayNameFor(model => model.Title) *@
            </th>
            <th>
                Autor@* @Html.DisplayNameFor(model => model.Author) *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                Gatunek@* @Html.DisplayNameFor(model => model.Genre) *@
            </th>
            <th>
                Opis@* @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                Strona wydawcy@* @Html.DisplayNameFor(model => model.PublisherLink) *@
            </th>
            <th>
                Dostępne Książki@* @Html.DisplayNameFor(model => model.AvailableCopies) *@
            </th>
            <th>
                Opcje
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableCopies)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
            </td>
                <td>
                    @if (item.AvailableCopies > 0)
                    {
                        <a asp-controller="Loans" asp-action="Create" asp-route-bookId="@item.Id" class="btn btn-primary btn-sm">Wypożycz</a>
                    }
                    else
                    {
                        <span class="text-danger">Niedostępna</span>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
